<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Root Config</title>
    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"
    />
    <meta name="importmap-type" content="systemjs-importmap" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <style>
      * {
        padding: 0;
        margin: 0;
        vertical-align: baseline;
        list-style: none;
        border: 0;
      }

      .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 28px;
        height: 70vh;
      }

      #header-section {
        height: 10vh;
      }

      #footer-section {
        height: 10vh;
      }

      #app1-section {
        margin-right: 16px;
      }

      #app2-section {
        margin-left: 16px;
      }
    </style>

    <!-- Nessa parte é onde colocamos as dependências que serão comuns para os micro frontends. -->
    <script type="systemjs-importmap">
      {
        "imports": {
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
        }
      }
    </script>

    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      as="script"
      crossorigin="anonymous"
    />

    <!-- Nessa parte é onde colocamos as Url's de entry point para chamarmos nossos micro frontends. -->
    <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@mfe/root-config": "//localhost:9000/mfe-root-config.js",
          "@mfe/header": "//localhost:9001/main.js",
          "@mfe/app1": "//localhost:9002/main.js",
          "@mfe/app2": "//localhost:9003/main.js",
          "@mfe/footer": "//localhost:9004/main.js"
        }
      }
    </script>
    <% } %>

    <script src="https://unpkg.com/zone.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <% } %>
  </head>
  <body>
    <header>
      <section id="header-section"></section>
    </header>

    <main class="main-container">
      <section id="app1-section"></section>
      <section id="app2-section"></section>
    </main>

    <footer>
      <section id="footer-section"></section>
    </footer>

    <script>
      System.import("@mfe/root-config");
    </script>
    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
  </body>
</html>
